@use 'sass:math';
@use 'normalize';
@use 'global';
@use 'block1';
@use 'block2';
@use 'block3';
@use 'block4';
@use 'block5';
@use 'block6';


body, html {
    height: 100%; 
    margin: 0; 
    width: 100%;
 }
  
.container {
    
}

img {

}

.header{
    display: flex;
    justify-content: end;
    width: -75%;
    
}

.block {
    
}

.block_1 {
    display: flex;
    flex-grow: 1;
    justify-content: end;
    align-items: flex-start;
    width: 25%; 
    max-height: 75%;
    background-image: url('../images/waves.jpg');
    position: absolute;
    top: 0;
}

.block_2 {
    width: 75%; 
    height: 52%;
    background-color: #9ec3d8 ;
    display: flex;
    flex-direction: row-reverse;
    justify-content: end;
    align-items: center;
}

.block_3 {
    display: flex;
    justify-content: start;
    width: 100%; 
    height: 15%;
    background-color: #afcde3;
    position: absolute;
    top: 23%;
    left: 25%;
}

.block_4 {
    width: 25%;
    height: 52%;
    background-image: url('../images/bird.png');
    background-position: center;
    background-size: cover;
    position: absolute;
    right: 0;
    top: 23%;
}
        
.block_5 {
    position: absolute;
    top: 35%;
    left: 25%;
    width: 50%; 
    height: 40%;
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
}

.block_6 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%; 
    height: 25%;
    background-color: #9ec3d8;
    background-image: url('../images/mountain.jpg');
    display: flex;
    justify-content: space-between;
}

.block-background {

    &_1{
        background-image: url('../images/1.jpg');
    }

    &_2{
        background-image: url('../images/2.jpg');
    }

    &_3{
        background-image: url('../images/3.jpg');
    }

    &_4{
        background-image: url('../images/4.jpg');
    }
}

a,
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}
